.clearfix:before, .clearfix:after {
    content: "";
    display: block;
    clear: both;
}

body {
    margin: 0;
}
nav ul {
    margin: 0;
    padding: 0;
    background-color: pink;
}
nav ul li {
    width: 25%;
    display: inline-block;
    float: left;
}
